body {
  margin: 0;
}

canvas {
  background-color: white;
  min-height: 100vh;
  height: 100vh;
  min-height: 100vh;
  height: 100vh;
  min-width: 100vw;
  width: 100vw;
}

#overlay {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-family: monospace;
  padding: 1em;
  border-radius: 1em;
  border: 5px solid #f00;
  text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
  margin: 0;
  overflow: hidden;
  font-family: arial;
}

#blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

#instructions {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: monospace;
  color: white;
}

.title {
  font-size: 40px;
  display: block;
}

p {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.description {
  font-size: 20px;
  display: block;
  margin-top: 10px;
}

#overlay {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: rgba(78, 16, 223, 0.7);
  color: white;
  font-family: monospace;
  padding: 1em;
  border-radius: 1em;
  border: 5px solid rgb(27, 4, 56);
}

#gameOverOverlay {
  /* Update positioning and size to center it on the screen */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 500px;
  color: white;
  font-family: monospace;
  padding: 1em;
  border-radius: 1em;
  border: 5px solid rgb(27, 4, 56);
}