@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
}
canvas {
  background-color: white; min-height: 100vh; height: 100vh;
  min-height: 100vh; height: 100vh;
  min-width: 100vw; width: 100vw;
}
